#left {
  width: 20%;
  float: left;
  height: 80%;
  visibility: hidden;
}

#right {
  width: 20%;
  float: right;
  visibility: hidden;
}
#twopics {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 40px;
  float: left;
  /*border: solid black 5px;*/
}

footer {
  padding: 20px;
}

#p1, #p2 {
  height: 155px;
  width: 155px;
  /*border: 5px solid black;*/
}

