#left {
  width: 20%;
  float: left;
  height: 80%;
  visibility: hidden;
}

#right {
  width: 20%;
  float: right;
  visibility: hidden;
}
#twopics {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 40px;
  float: left;
  /*border: solid black 5px;*/
}

footer {
  padding: 20px;
}

#p1, #p2 {
  position: relative;
  height: 155px;
  width: 155px;
  z-index: 1;
  /*border: 5px solid black;*/
}

#p1x, #p2x {
  font: 1em bold, Arial, sans-serif;
  color: #263238;
  position: absolute;
  top: 100px;
  right: 14px;
  border: 3px solid #37474f;
  background-color: #cfd8dc;
  border-radius: 18px;
  width: 18px;
  height: 18px;
  text-align: center;
  z-index: 3;
}

