body {
  background-color: #c8e6c9;
  padding: 50px;
}



.lyric-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button {
  height: 30px;
  margin: 20px;
}

.lyric {
  width: 40%;
  background-color: #81c784;
  padding: 1px 20px;
  color: #1b5e20;
  font-family: cursive;
  line-height: 1.4;
}

.fl {

}

.fl2 {
  color: yellow;
  font-size: 400%;
}

#ch:first-letter {
  color: red;
  font-size: 1.7em;
  text-transform: capitalize;
  overflow: hidden;
  line-height: 1%;
}

#progress {
  display: flex;
  min-height: 30vh;
  width: 30%;
  padding: 10px;
  margin: 5px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

#uploader {
  -webkit-appearance: none;
  appearance: none;
  width: 50%;
  margin-bottom: 10px;
}