body {
  font-family: Arial, sans-serif;
}

h4 {
  font-family: Arial, sans-serif;
  font-size: .78em;
  margin-top: 0em;
  margin-bottom: .1em;
  grid-column-start: 1;
}

p {
  color: #212121;
  font-family: Arial, sans-serif;
  font-size: .68em;
  margin-top: .5em;
  margin-bottom: 0em;
  grid-column-start: 1;
}

#container {
  height: 100vh;
  display: grid;
  grid-template-columns: 150px 180px 200px 1fr;
  grid-template-rows: 80px 155px 155px 30px 1fr 60px;
  grid-gap: 2px;
}  
 
#miniHeader {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
} 
  
#twopics {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 155px 155px;
}

#p1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: grid;
  grid-template-columns: 155px 250px 15px;
  overflow: hidden;
  max-height: 175px; 
  max-width: 420px;
  background-color: #eed;
}

#p2 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  display: grid;
  grid-template-columns: 155px 250px 15px;
  overflow: hidden;
  max-height: 175px;
  max-width: 420px;
  background-color: #eed;  
}

#p1img  {
  grid-column-start: 1;
  grid-row-start: 1;

}

#p2img {
  grid-column-start: 1;
  grid-row-start: 1;
}

#info1 {
  grid-column-start: 2;
  grid-row-start: 1;
  display: grid;
  grid-template-columns: 1fr;
} 
#info2  {
  grid-column-start: 2;
  grid-row-start: 1;
  display: grid;
  grid-template-columns: 1fr 10px;
}

#p1x {
  grid-column: 3/4;
  justify-self: end;
}

#p2x {
  grid-column: 3/4;
  justify-self: end;
}

.material-icons {
}

#buttons {
  display: flex;
  grid-column: 1/3;
  grid-row: 4;
}

#spin {
  flex-grow: 1;
  /*grid-row-start: 4;
  grid-column-start: 1;
  grid-column-end: 2;*/
}

#showTopFive {
  flex-grow: 1;
  /*grid-row-start: 4;
  grid-column-start: 2;
  grid-column-end: 3;*/
}

#reset {
  flex-grow: 1;
}

#top5 {
  grid-row-start: 5;
  grid-column-start: 1;
  grid-column-end: 4;
}

#later {
  grid-row-start: 6;
  grid-column: 1/4;
}

#later > p {
  font-size: 16px;
  font-color: #212121;
}


